<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="dailyRollingFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>C:/D/Personal/Projects/logs/ledger.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<FileNamePattern>C:/D/Personal/Projects/logs/ledger.%d{yyyy-MM-dd_HH}.GZ
			</FileNamePattern>

			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n
			</Pattern>
		</encoder>
	</appender>

	<logger name="org.springframework.web.servlet" level="ERROR">
		<appender-ref ref="dailyRollingFileAppender" />
	</logger>
	
	<logger name="org.springframework" level="ERROR">
		<appender-ref ref="dailyRollingFileAppender" />
	</logger>

	<logger name="org.springframework.security" level="ERROR">
		<appender-ref ref="dailyRollingFileAppender" />
	</logger>

	<logger name="org.springframework.security.core" level="ERROR">
		<appender-ref ref="dailyRollingFileAppender" />
	</logger>

	<logger name="com.widget.ledger.web" level="ERROR">
		<appender-ref ref="dailyRollingFileAppender" />
	</logger>

	<logger name="org.hibernate.SQL" level="DEBUG">
		<appender-ref ref="dailyRollingFileAppender" />
	</logger>
	<logger name="org.hibernate.type" level="TRACE">
		<appender-ref ref="dailyRollingFileAppender" />
	</logger>
	<!-- <logger name="org.hibernate" level="ERROR">
		<appender-ref ref="dailyRollingFileAppender" />
	</logger> -->
	<logger name="javax.servlet" level="ERROR">
		<appender-ref ref="dailyRollingFileAppender" />
	</logger>
	<logger name="org.apache.tiles" level="ERROR">
		<appender-ref ref="dailyRollingFileAppender" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="dailyRollingFileAppender" />
	</root>
</configuration>